:host {
  ::ng-deep {
    .p-toast {
      margin-top: 80px;
    }
  }
}

.campagne-label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.multi-select {
  width: 150px;
}

.icon {
  &-edit {
    font-size: 2.5rem;
    color: green;
  }

  &-date {
    font-size: 1.5rem;
    color: blue;
    font-style: normal;
  }

  &-folder {
    font-size: 2rem;
    color: orange;
  }

  &-info {
    font-size: 1.4rem;
  }
}

.title-blue {
  font-size: 1.3rem;
  color: blue;
}

.title-green {
  font-size: 1.3rem;
  color: green;
}

.taux-remboursement {
  text-align: right;
  font-size: 1.3rem;

  &.success {
    background-color: #A9F5A9;
  }
  
  &.warning {
    background-color: #F5DA81;
  }
  
  &.danger {
    background-color: #FA8258;
  }
}

.montant {
  text-align: right;
}
