<div class="auth-wrapper">
  <form
    class="form-signin"
    [formGroup]="signupForm"
    (ngSubmit)="registerUser()"
  >
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
    <div class="form-group">
      <label for="signup-name">Name</label>
      <input
        id="signup-name"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter name"
        required
      />
    </div>
    <div class="form-group">
      <label for="signup-email">Email address</label>
      <input
        id="signup-email"
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group">
      <label for="signup-password">Password</label>
      <input
        id="signup-password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-block btn-primary">Sign up</button>
  </form>
</div>
